modules = ["nodejs-20"]
run = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
run = "NODE_ENV=production node dist/index.js"
build = ["npm install", "npm run build"]
deploymentTarget = "cloudrun"
ignorePorts = false

[nix]
envVars = [
  { name = "NODE_ENV", value = "production" }
]





